/*
.bac-image {
  background-image: url("images/beauty.jpg") !important;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
*/


a{

text-decoration: none !important;

}


.about{

width: 70px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: -80px;
margin-top: 80px;

}


#icon-prof{

position: relative;
left:50px;
width: 18px;
margin-top: 60px;

}

#SLIDE_BG{

  width: 100%;
  height: 100vh;
  background-position:center center fixed;
  background-size: cover;
   background-repeat: no-repeat;
   backface-visibility: hidden;
   animation: slideBg 25s linear infinite 5s;
    animation-timing-function: ease-in-out;
    background-attachment: fixed;
    background-image: url('images/BACKGROUND.png');
  
  }
  
  
  @keyframes slideBg {
  
  
   0% {
       background-image: url('images/BACKGROUND.png');
  }
  
  
  
  25% {
      background-image: url('images/BACKGROUND.png');
  }
  
  
  }




  .profile{

text-align:center;
font-family: ApercuProBoldimport;
font-size: 12px;
padding: 30px 30px 30px 30px;

  }


.zoom {


  transition: transform .2s; /* Animation */
 

}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.bac-contact{

  background-image: url("images/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:70vh !important;
}



.navbar-toggler{

  border: transparent !important;
  
    }
  




.mrg-top-services{

margin-top: 150px !important;

}

.tell{
width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.icon-nav{
  width: 30px;
}

.navbar-toggler{
outline: none !important;
}


.bac-service{
background-image: url("images/netflix.png") !important;
background-repeat: no-repeat;
height: 55vh;
background-size: cover;
}


.logo-ball{

width: 350px;
margin-top: 100px;
margin-bottom: 5px;
display: block;
    margin-left: auto;
    margin-right: auto;
}



.color-link{
  font-family: ApercuProBoldimport;
 color: #ED63A7;
margin-bottom: 130px;
display: block;
    margin-left: auto;
    margin-right: auto;

border-left: transparent;
border-right: transparent;
border-top: transparent;
border-bottom: 2px solid #ED63A7;
width: fit-content !important;

}



.play{

width: 90px;
position: relative;
left:82px ;


}

.bg-light {
  background-color:transparent !important;
  height: 80px !important;
}

.h3-font {
  text-align: center;
  color: white;
  margin-top: 180px;
  font-family: ApercuProBoldimport;
  font-size: 65px;
  font-weight: 500;
  line-height: 63px;
}

.paragraph {
  font-family: ApercuProBoldimport;
  color: white;
  font-size: 21.5px;
  font-weight: 300;
  text-align: center;
  margin-top: 25px;
}

@font-face {
  font-family: ApercuLightimport;
  src: url("fonts/Apercu/Apercu Light.otf");
}


@font-face {
  font-family: ApercuProBoldimport;
  src: url("fonts/Apercu/ApercuProBold.otf");
}


.logo-apps {
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-apps-1 {
  width: 165px;
display: block;
margin-left: auto;
margin-right: auto;
}

.logo-apps-2 {
  width: 130px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.nav-link {
  color: white !important;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
  letter-spacing: 1px;
  position: relative;
  left: 150px;
  text-transform: uppercase !important;
}

.icon-set {
  width: 12px;
  margin-right: 5px;
}

.logo-site {
  width: 150px;
  margin-top: -9.5px;
}

.menu-mrg {
  margin-left: 22.5px;
  margin-top: -15px;
}

.a-2:hover {
  color: #1b94ed !important;
}

.numbers {
  color: #1b94ed !important;
  font-family: ApercuProBoldimport;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  font-size: 35px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.clients-intro {
  text-align: center;
  font-weight: 400;
  font-family: ApercuProBoldimport;
  font-style: normal;
  font-size: 23.5px;
  color: #1b385e;
  margin-top: 110px;
  margin-bottom: 40px;
}

.clients {
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 95px;
}

.clients-paragh {
  text-align: center;
  margin-bottom: 90px;
  font-size: 15px;
  font-family: ApercuProBoldimport;
  font-weight: lighter;
}

.body-1 {
  text-align: center;
  font-weight: 400;
  font-size: 13.5px;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: -50px;
  margin-bottom: 120px;
  font-family: ApercuProBoldimport;
}


.body-services {
  text-align: center;
  font-weight: 400;
  font-size: 13.5px;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: -18px;
  margin-bottom: 45px;
  font-family: ApercuProBoldimport;
}

.cutslide {
  background-image: url("images/OFFICE.png") !important;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.white-card {
  width: 100% !important;
  background-color: rgba(255, 255, 255, 0.938);
  border: 2px solid transparent;
  border-radius: 5px;
  position: relative;
  top: 130px;
  height: 70vh;
}

.button-optimal {
  background-color: #1b94ed;
  height: 70px;
  width: 170px;
  border: transparent;
  border-radius:5px;
  color: white;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
 display: block;
 margin-right: auto;
 margin-left: auto;
 margin-top: -50px;
  outline: none !important;
}

.button-optimal:hover {
  outline: none;
  background-color: #003067;
  border: transparent;
}

.clients-paragh-2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: ApercuProBoldimport;
  margin-top: 160px;
  font-weight: lighter;
}

.clients-intro-2 {
  text-align: center;
  font-weight: 400;
  font-family: ApercuProBoldimport;
  font-style: normal;
  font-size: 23.5px;
  color: #1b385e;
  margin-top: 25px;
  margin-bottom: 80px;
}

.avatars {
  width: 100px;
}

.testimonials {
  font-family: ApercuProBoldimport;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 75px;
}

.user-name {
  font-family: ApercuProBoldimport;
  color: #003067;
}

.white-smoke {
  background-color:#281853;
  height:80vh !important;
}

.appscreen {
  width: 250px;
  position: relative;
  top: 120px;
  left: 100px;
}

.mrg-bottom {
  margin-bottom: 140px;
}

.cueball-create {
  font-family: ApercuProBoldimport;
  color:whitesmoke;
  font-weight: bolder;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
}


.cueball-create-2 {
  font-family: ApercuProBoldimport;
  color: #003067;
  font-weight: bolder;
  font-style: normal;
  font-size: 33px;
  text-align: center;
  margin-top: 130px;
}


.snooker {
  width: 105px;
}

.body-cueball {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: inherit !important;
  color: white
}

.button-optimal-2 {
  background-color: #1b94ed;
  height: 70px;
  width: 170px;
  border: transparent;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
 display: block;
 margin-left: auto;
 margin-right: auto;
  outline: none !important;
}

.button-optimal-2:hover {
  outline: none;
  background-color: #003067;
  border: transparent;
}

.line {
  border-left: transparent;
  border-right: transparent;
  border-top: 1px solid rgba(192, 192, 192, 0.479);
  border-bottom: transparent;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top-mrng {
  margin-top: 110px;
}

.optimal-name {
  font-weight: bolder;
  font-family: ApercuProBoldimport;
  color: #003067;
  font-size: 18px;
  margin-bottom: 35px;
}

li {
  list-style-type: none !important;
  font-size: 13px;
  margin-top: 25px;
  font-family: ApercuProBoldimport;
}



.link-fb {
  color: #38559a;
  text-decoration: none !important;
}

.link-twitter {
  color: #59aaeb;
  text-decoration: none !important;
}

.link-ig {
  color: #bf297d;
  text-decoration: none !important;
}

.footer-link {
  color:rgb(31, 29, 29);
}

.terms {
  font-family: ApercuProBoldimport;
  text-align: center;
  font-size: 10.5px;
  margin-bottom: 50px;

}

.small {
  width: 25px;
  margin-right: 8px;
}

/* about us styles */

.bac-about{

  background-image: url("images/bad-team.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height:55vh !important;

}


.middle-text{
  font-family: ApercuProBoldimport;
  font-size: 13px;
  margin-top: -20px;
  text-align: center;



}


.smoke{
  background-color: whitesmoke !important;
  height:85vh;
  padding-top: 40px;
}


.mission{

text-align: center;
margin-top: 250px !important;


}


/*end*/



/*team page styles */


.bac-team{

  background-image: url("images/bac-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:55vh !important;


}


.team-face{

width: 190px;

}


.member-name{
  position: relative;
  left: 45px;
  top:20px;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
  color: #003067; 
}

.member-position{
  color: #1b94ed;
  position: relative;
  left: 45px;
  top:20px;
  font-family: ApercuProBoldimport;
  font-size: 13px;

}

.about-member{

  color: rgba(0, 0, 0, 0.726);
  font-family: ApercuProBoldimport;
  font-weight: 100;
  position: relative;
  left:-17px;
  top:20px;

}

.mrg-top-team{


  margin-top: 80px;

}

.mrg-top-team-2{

  margin-top: 180px;
}






.curve-blue{

background-image: url("images/blue-back-team.svg");
height:100vh;
background-repeat: no-repeat;
background-size: cover;
}

.newsletter{

text-align: center;
font-family: ApercuProBoldimport;
font-weight: bolder;
position: relative;
top: 200px;
color: white;
font-size: 40px;
margin-top:50px;
}

.smaller-text{

text-align: center;
font-family: ApercuProBoldimport;
font-weight: 100;
color: white;
position: relative;
top: 250px;
}

.spam{

text-align: center;
color:white;
font-family: ApercuProBoldimport;
font-weight: 100;
font-size: 10px;
position:relative;
top: 315px;
}

.email-field{

  position: relative;
  top: 265px;
  width: 100%;
  text-align: center;
  height: 65px;
  margin-bottom: 30px;
 border-radius: 26px;
  border: 3px solid #1b94ed;
  outline: none !important;
  background-color:transparent;
  color: white !important;
  font-family: ApercuProBoldimport;
}





.btn-submit-news{
  position: relative;
  top: 289px;
  width: 300px;
  color: white;
  background-color:#ED63A7;
  border: transparent;
  font-family: ApercuProBoldimport;
  height:55px;
  border-radius: 26px;
  outline: none !important; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*end*/

/* responsive break point for mobile devices */

@media only screen and (min-width: 320px) and (max-width: 480px) {

  .logo-apps-1 , .logo-apps-2 ,.logo-apps {

    display:block;
    margin-left: auto;
    margin-right: auto;
    
    }



  .ss{

    display:none !important;
    
    }

    

  .bg-light {
    background-color:#1b94ed !important;
    height: fit-content !important;
  }


  .logo-site {
    width: 80px;
    margin-top: -5.5px;
  }



  .bac-contact{
    background-image: url("images/cont.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh !important;
  }
  




  .bac-service{
    background-image: url("images/netflix.png") !important;
    background-repeat: no-repeat;
    height: 55vh;
    background-size: cover;
    }
    


.team-face{

  width: 100px !important;
  
  }


.member-name{
  position: relative;
  left: 0px;
  top:20px;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
  color: #003067; 
}

.member-position{
  color: #1b94ed;
  position: relative;
  left: 0px;
  top:20px;
  font-family: ApercuProBoldimport;
  font-size: 13px;

}

.about-member{

  color: rgba(0, 0, 0, 0.726);
  font-family: ApercuProBoldimport;
  font-weight: 100;
  position: relative;
  left:0px;
  top:20px;
  font-size: 11px;
  
} .bac-image {
    background-image: url("images/mobi.png") !important;
    background-repeat: no-repeat;
    height: 100vh;
   
    background-attachment: scroll;
  }

  .h3-font {
    text-align: center;
    color: white;
    margin-top: 120px;
    font-family: ApercuProBoldimport;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .paragraph {
    font-family: ApercuProBoldimport;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-top: 25px;
  }

  .nav-link {
    color: white !important;
    font-weight:100;
    font-family: ApercuProBoldimport;
    position: initial !important;
  }

  .menu-mrg {
    text-align: left !important;
    margin-top:-25px !important;
  
  }

  .icon-set {
    display: none;
  }

 

  .clients {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }


  .cutslide {
    background-image: url("images/OFFICE.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .mobile-intro {
    margin-top: 55px !important;
  }

  
    .button-optimal {
      background-color: #1b94ed;
      height: 70px;
      width: 170px;
      border: transparent;
      border-radius:5px;
      color: white;
      font-weight: bolder;
      font-family: ApercuProBoldimport;
     display: block;
     margin-right: auto;
     margin-left: auto;
      outline: none !important;
      margin-top: 40px;
  }

  .mobile-bottom {
    margin-bottom: 22px !important;
  }

  .avatars {
    width: 70px;
  }

  .white-smoke {
    background-color:#281853;
    height:80vh !important;
  }

  .button-optimal-2 {
    background-color: #1b94ed;
    height: 70px;
    width: 170px;
    border: transparent;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-family: ApercuProBoldimport;
   display: block;
   margin-left: auto;
   margin-right: auto;
    outline: none !important;
  }
  

  .appscreen {
    width: 50%;
    display: block !important;
  }

  .optimal-name {
    font-weight: bolder;
    font-family: ApercuProBoldimport;
    color: #003067;
    font-size: 19px;
    margin-bottom: 37px;
    margin-top: 34px !important;
    text-align: center;
  }

  li {
    text-align: center !important;
  }

  .terms {
    padding: 30px 30px 30px 30px;
  }




.white-card {
  width: 100% !important;
  background-color: rgba(255, 255, 255, 0.938);
  border: 2px solid transparent;
  border-radius: 5px;
  position: relative;
  top: 80px;
  height:80vh;
}


.cueball-create {
  font-family: ApercuProBoldimport;
  color:white;
  font-weight: bolder;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  margin-top: 140px;
}



.newsletter{

  text-align: center;
  font-family: ApercuProBoldimport;
  font-weight: bolder;
  position: relative;
  top: 200px;
  color: white;
  font-size: 40px;
  margin-top:-30px;
  }



}

.fixed-bottom {
  width:40px;
  margin-bottom: 30px !important;
  margin-left: 30px !important;
}


/*responsive mode for mobile devices in game mode */



/*media query for game mode */

@media only screen and (min-width: 568px) and (max-width: 812px) and (orientation:landscape) {


  .hide-all{

display: none;

  }




}






/*end*/


/*responsive mode for ipad */


/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

.logo-apps-1 , .logo-apps-2 ,.logo-apps {

display:block;
margin-left: auto;
margin-right: auto;

}



.bac-service{
  background-image: url("images/netflix.png") !important;
  background-repeat: no-repeat;
  height: 90vh;
  background-size: cover;
  }
  


.team-face{

  width: 100px !important;
  
  }


.member-name{
  position: relative;
  left: 0px;
  top:20px;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
  color: #003067; 
}

.member-position{
  color: #1b94ed;
  position: relative;
  left: 0px;
  top:20px;
  font-family: ApercuProBoldimport;
  font-size: 13px;

}

.about-member{

  color: rgba(0, 0, 0, 0.726);
  font-family: ApercuProBoldimport;
  font-weight: 100;
  position: relative;
  left:0px;
  top:20px;
  font-size: 11px;

}
  


.clients {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.button-optimal-2 {
  background-color: #1b94ed;
  height: 70px;
  width: 170px;
  border: transparent;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
 display: block;
 margin-left: auto;
 margin-right: auto;
  outline: none !important;
}




.nav-link {
  color: white !important;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
  letter-spacing: 1px;
  position: relative;
  left: 1px;
}


.bg-light {
  background-color:#1b94ed  !important;
  height: fit-content !important;
}



  .button-optimal {
    background-color: #1b94ed;
    height: 70px;
    width: 170px;
    border: transparent;
    border-radius:5px;
    color: white;
    font-weight: bolder;
    font-family: ApercuProBoldimport;
   display: block;
   margin-right: auto;
   margin-left: auto;
    outline: none !important;
    margin-top: 40px;
}








}


/*end*/





/* iPads landscape mode  (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {









  
  .team-face{

    width: 100px !important;
    
    }



  .bac-service{
    background-image: url("images/netflix.png") !important;
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
    }
    
  
  
  .member-name{
    position: relative;
    left: 0px;
    top:20px;
    font-weight: bolder;
    font-family: ApercuProBoldimport;
    color: #003067; 
  }
  
  .member-position{
    color: #1b94ed;
    position: relative;
    left: 0px;
    top:20px;
    font-family: ApercuProBoldimport;
    font-size: 13px;
  
  }
  
  .about-member{
  
    color: rgba(0, 0, 0, 0.726);
    font-family: ApercuProBoldimport;
    font-weight: 100;
    position: relative;
    left:0px;
    top:20px;
    font-size: 11px;
  
  }
    

  .button-optimal-2 {
    background-color: #1b94ed;
    height: 70px;
    width: 170px;
    border: transparent;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-family: ApercuProBoldimport;
   display: block;
   margin-left: auto;
   margin-right: auto;
    outline: none !important;
  }
  



  .button-optimal {
    background-color: #1b94ed;
    height: 70px;
    width: 170px;
    border: transparent;
    border-radius:5px;
    color: white;
    font-weight: bolder;
    font-family: ApercuProBoldimport;
   display: block;
   margin-right: auto;
   margin-left: auto;
    outline: none !important;
    margin-top: -50px !important;
  }
  



  .logo-apps-1 , .logo-apps-2 ,.logo-apps {

    display:block;
    margin-left: auto;
    margin-right: auto;
    
    }



  .nav-link {
    color: white !important;
    font-weight: bolder;
    font-family: ApercuProBoldimport;
    letter-spacing: 1px;
    position: relative;
    left: 25px;
  }


}





/* iPad pro(portrait) ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {


  .curve-blue{

    background-image: url("images/blue-back-team.svg");
    height:80vh;
    background-repeat: no-repeat;
    background-size: cover;
    }


  #SLIDE_BG{

    width: 100%;
    height: 55vh;
    background-position:center center fixed;
    background-size: cover;
     background-repeat: no-repeat;
     backface-visibility: hidden;
     animation: slideBg 8s linear infinite 0s;
      animation-timing-function: ease-in-out;
      background-attachment: fixed;
      background-image: url('images/beauty.jpg');
    
    }




    .button-optimal {
      background-color: #1b94ed;
      height: 70px;
      width: 170px;
      border: transparent;
      border-radius:5px;
      color: white;
      font-weight: bolder;
      font-family: ApercuProBoldimport;
     display: block;
     margin-right: auto;
     margin-left: auto;
      outline: none !important;
      margin-top: 40px;
  }


  .white-smoke {
    background-color:#281853;
    height:55vh !important;
  }


  .bac-image {
    background-image: url("images/beauty.jpg") !important;
    background-repeat: no-repeat;
    height: 55vh;
    background-size: cover;
    background-attachment: fixed;
  }



.white-card {
  width: 100% !important;
  background-color: rgba(255, 255, 255, 0.938);
  border: 2px solid transparent;
  border-radius: 5px;
  position: relative;
  top: 130px;
  height: 43vh;
}





}




/*

.watermark{

background-image: url('images/watermark.png');
background-size: cover;
background-repeat: no-repeat;

}

*/









/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {


    .button-optimal {
      background-color: #1b94ed;
      height: 70px;
      width: 170px;
      border: transparent;
      border-radius:5px;
      color: white;
      font-weight: bolder;
      font-family: ApercuProBoldimport;
     display: block;
     margin-right: auto;
     margin-left: auto;
      outline: none !important;
      margin-top: 40px !important;
    }
    


  


  }





/*end*/








/*media query for 6.0 screen */

@media screen 
and (max-width:720px)
and (max-height:1440px)
 and (max-resolution: 268dpi)
 and (-webkit-max-device-pixel-ratio:2)
 { 


  


              li {
                text-align: center !important;
              }



  .bg-light {
    background-color:#1b94ed !important;
    height: fit-content !important;
  }
       
  
  .nav-link {
    color: white !important;
    font-weight:100;
    font-family: ApercuProBoldimport;
    position: initial !important;
  }

  .menu-mrg {
    text-align: left !important;
    margin-top:-25px !important;
  
  }


.icon-set{
  display: none !important;
}


.button-optimal {
  background-color: #1b94ed;
  height: 70px;
  width: 170px;
  border: transparent;
  border-radius:5px;
  color: white;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
 display: block;
 margin-right: auto;
 margin-left: auto;
  outline: none !important;
  margin-top: -45px;
}





.button-optimal-2 {
  background-color: #1b94ed;
  height: 70px;
  width: 170px;
  border: transparent;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
 display: block;
 margin-left: auto;
 margin-right: auto;
  outline: none !important;
}


#lxx{

display: none;

}

.optimal-name {

  text-align: center !important;
  font-weight: bolder;
  font-family: ApercuProBoldimport;
  color: #003067;
  font-size: 19px;
  margin-bottom: 37px;
  margin-top: 34px !important;

}
    
 }


 /*end*/



.slide-text{

  color: white !important;


}



html{

  scroll-behavior: smooth;
}


/*for scrollerbar*/
     /* width */
     ::-webkit-scrollbar {
      width: 1.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background:white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background:#59aaeb; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#59aaeb; 
  }

/*end*/



.privacy-list{

text-align: center;
color: rgb(82, 64, 64);
font-size: 15px;
}


.privacy-paragh{
text-align: center;
margin-top: 100px;
font-family: ApercuLightimport;

}


.privacy-paragh-2{
  text-align: center;
  margin-top: 50px;
  font-family: ApercuLightimport;
  
}





.crds{

  font-family: ApercuProBoldimport;
  text-align: center;
color:black;
font-size: 15px;
margin-top: 40px;
}


.ss{

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px !important;
  
  }


  .dot{

margin-top: -180px !important;

  }